$Color1: red;
$Color2: blue;
$Color3: green;
$Color4: purple;
$Color5: Yellow;
$Color6: Pink;
$ColorDefault: white;

body {
    background-color: #2F2F2F;
}
.App {
    text-align: center; 
  }
  %sharedBorder {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .bLTB {
    @extend %sharedBorder;
    border-left: 3px solid $ColorDefault;
    border-top: 3px solid $ColorDefault;
  }

  .bAll {
    @extend %sharedBorder;
    border: 3px solid $ColorDefault;
  }
  .btrb{
    @extend %sharedBorder;
    border-right: 3px solid $ColorDefault;
    border-top: 3px solid $ColorDefault;
    border-left: 3px solid $ColorDefault;
  }
  .blbb{
    @extend %sharedBorder;
    border-top: 3px solid $ColorDefault;
    border-bottom: 3px solid $ColorDefault;
    border-left: 3px solid $ColorDefault;
  }

  // .bTB {
  //   @extend %sharedBorder;
  //   border-top: 3px solid $Color2;
  // } 
  // .bRB {
  //   @extend %sharedBorder;
  //   border-right: 3px solid $Color2;
  // } 
  // .bBB {
  //   @extend %sharedBorder;
  //   border-bottom: 3px solid $Color2;
  // }

  // .bLR {
  //   @extend %sharedBorder;
  //   border-left: 3px solid;
  // }
  // .bTR {
  //   @extend %sharedBorder;
  //   border-top: 3px solid;
  // } 
  // .bRR {
  //   @extend %sharedBorder;
  //   border-right: 3px solid;
  // } 
  // .bBR {
  //   @extend %sharedBorder;
  //   border-bottom: 3px solid;
  // }
  
  .singularBox{
    background-color: white;
    height: 70px;
    width: 70px; 
    display: inline-block;
    position: relative;
  }
  
  .container {
    height: 700px;
    width: 700px;
    background-color: antiquewhite;
    padding: 0;
    margin: 1em auto;
    line-height: 0;
  }
  
  .rotate-button{
    transform: rotate(90deg);
  }
  
  .left-button{
    float: left;
    border: none;
    position: absolute;
    margin: 0;
    left: -26px;
    top:28px;
    height:10px;
    width: 50px;
    opacity: 0;
  }

.left-button:hover{
    background-color: green;
      
      opacity:1;
      border-radius: 25%;
  }

.top-button:hover{
    background-color: green;
    opacity:1;
    border-radius: 25%;
}  

.right-button:hover{
    background-color: green;
    
    opacity:1;
    border-radius: 25%;
}  

.bottom-button:hover{
    background-color: green;
    
    opacity:1;
    border-radius: 25%;
}
  
  .top-button{
    float: top;
    border: none;
    position: absolute;
    margin: 0;
    left: 9px;
    top: -7px;
    height:10px;
    width: 50px;
    opacity: 0;
  }
  .right-button{
    float: top;
    border: none;
    position: absolute;
    margin: 0;
    right: -27px;
    bottom: 29px;
    height:10px;
    width:50px;
    opacity: 0;
  }
  .bottom-button{
    float: top;
    border: none;
    position: absolute;
    margin: 0;
    right: 8px;
    bottom: -6px;
    height:10px;
    width:50px;
    opacity: 0;
  }
  

  .dot {
    background: #2F2F2F;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: -5px;
    left: -5px;
  }

  .dotRight {
    background: #2F2F2F;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: -5px;
    right: -5px;
  }

  .dotBottom {
    background: #2F2F2F;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    bottom: -5px;
    left: -5px;
  }

  .dotHund {
    background: #2F2F2F;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    bottom: -5px;
    right: -5px;
  }

  // bc == Border Color based on player pref.
  .blc1 {
    border-left-color: $Color1
  }
  .brc1{
    border-right-color: $Color1
  }
  .btc1 {
    border-top-color: $Color1
  }
  .bbc1{
    border-bottom-color: $Color1
  }


  .blc2 {
    border-left-color: $Color2
  }
  .brc2{
    border-right-color: $Color2
  }
  .btc2 {
    border-top-color: $Color2
  }
  .bbc2{
    border-bottom-color: $Color2
  }

  .blc3 {
    border-left-color: $Color3
  }
  .brc3{
    border-right-color: $Color3
  }
  .btc3 {
    border-top-color: $Color3
  }
  .bbc3{
    border-bottom-color: $Color3
  }

  .blc4 {
    border-left-color: $Color4
  } 
  .brc4{
    border-right-color: $Color4
  }
  .btc4 {
    border-top-color: $Color4
  }
  .bbc4{
    border-bottom-color: $Color4
  }

  .blc5 {
    border-left-color: $Color5
  }
  .brc5{
    border-right-color: $Color5
  }
  .btc5 {
    border-top-color: $Color5
  }
  .bbc5{
    border-bottom-color: $Color5
  }
  .blc6 {
    border-left-color: $Color6
  }
  .brc6{
    border-right-color: $Color6
  }
  .btc6 {
    border-top-color: $Color6
  }
  .bbc6{
    border-bottom-color: $Color6
  }

    // bx == Box Color based on player pref.
    .bx1 {
      background-color: $Color1
    }
  
    .bx2 {
      background-color: $Color2
    }
  
    .bx3 {
      background-color: $Color3
    }
  
    .bx4 {
      background-color: $Color4
    } 
  
    .bx5 {
      background-color: $Color5
    }
    .bx6 {
      background-color: $Color6
    }