body {
  background-color: #2F2F2F; }

.App {
  text-align: center; }

.bltb, .ball, .btrb, .blbb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.bltb {
  border-left: 3px solid white;
  border-top: 3px solid white; }

.ball {
  border: 3px solid white; }

.btrb {
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-left: 3px solid white; }

.blbb {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white; }

.singularBox {
  background-color: white;
  height: 70px;
  width: 70px;
  display: inline-block;
  position: relative; }

.container {
  height: 700px;
  width: 700px;
  background-color: antiquewhite;
  padding: 0;
  margin: 1em auto;
  line-height: 0; }

.rotate-button {
  transform: rotate(90deg); }

.left-button {
  float: left;
  border: none;
  position: absolute;
  margin: 0;
  left: -26px;
  top: 28px;
  height: 10px;
  width: 50px;
  opacity: 0; }

.left-button:hover {
  background-color: green;
  opacity: 1;
  border-radius: 25%; }

.top-button:hover {
  background-color: green;
  opacity: 1;
  border-radius: 25%; }

.right-button:hover {
  background-color: green;
  opacity: 1;
  border-radius: 25%; }

.bottom-button:hover {
  background-color: green;
  opacity: 1;
  border-radius: 25%; }

.top-button {
  float: top;
  border: none;
  position: absolute;
  margin: 0;
  left: 9px;
  top: -7px;
  height: 10px;
  width: 50px;
  opacity: 0; }

.right-button {
  float: top;
  border: none;
  position: absolute;
  margin: 0;
  right: -27px;
  bottom: 29px;
  height: 10px;
  width: 50px;
  opacity: 0; }

.bottom-button {
  float: top;
  border: none;
  position: absolute;
  margin: 0;
  right: 8px;
  bottom: -6px;
  height: 10px;
  width: 50px;
  opacity: 0; }

.dot {
  background: #2F2F2F;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: -5px;
  left: -5px; }

.dotRight {
  background: #2F2F2F;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: -5px;
  right: -5px; }

.dotBottom {
  background: #2F2F2F;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  bottom: -5px;
  left: -5px; }

.dotHund {
  background: #2F2F2F;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  bottom: -5px;
  right: -5px; }

.blc1 {
  border-left-color: red; }

.brc1 {
  border-right-color: red; }

.btc1 {
  border-top-color: red; }

.bbc1 {
  border-bottom-color: red; }

.blc2 {
  border-left-color: blue; }

.brc2 {
  border-right-color: blue; }

.btc2 {
  border-top-color: blue; }

.bbc2 {
  border-bottom-color: blue; }

.blc3 {
  border-left-color: green; }

.brc3 {
  border-right-color: green; }

.btc3 {
  border-top-color: green; }

.bbc3 {
  border-bottom-color: green; }

.blc4 {
  border-left-color: purple; }

.brc4 {
  border-right-color: purple; }

.btc4 {
  border-top-color: purple; }

.bbc4 {
  border-bottom-color: purple; }

.blc5 {
  border-left-color: Yellow; }

.brc5 {
  border-right-color: Yellow; }

.btc5 {
  border-top-color: Yellow; }

.bbc5 {
  border-bottom-color: Yellow; }

.blc6 {
  border-left-color: Pink; }

.brc6 {
  border-right-color: Pink; }

.btc6 {
  border-top-color: Pink; }

.bbc6 {
  border-bottom-color: Pink; }

.bx1 {
  background-color: red; }

.bx2 {
  background-color: blue; }

.bx3 {
  background-color: green; }

.bx4 {
  background-color: purple; }

.bx5 {
  background-color: Yellow; }

.bx6 {
  background-color: Pink; }
